.flex.col-span-2.text-sm.justify-items-center
  = link_to "チャレンジ", challenges_game_social_path(@game), class: "block w-full px-2 py-1 border-b cursor-pointer focus:outline-none focus:ring-2 border-gray-600 hover:bg-gray-600 hover:text-white focus:ring-gray-500 focus:text-white border rounded-l-lg bg-gray-700 border-gray-600 text-white text-center"
  = link_to "トレーニング", trainings_game_social_path(@game), class: "block w-full px-2 py-1 border-b cursor-pointer focus:outline-none focus:ring-2 border-gray-600 hover:bg-gray-600 hover:text-white focus:ring-gray-500 focus:text-white border bg-gray-700 border-gray-600 text-white text-center";
  = link_to "レシピ", recipes_game_social_path(@game), class: "block w-full px-2 py-1 border-b cursor-pointer focus:outline-none focus:ring-2 border-gray-600 hover:bg-gray-600 hover:text-white focus:ring-gray-500 focus:text-white border rounded-r-lg bg-gray-700 border-gray-600 text-white text-center"
